{% extends 'sender/base.html' %}
{% block content %}

<div class="album py-4 bg-body-tertiary text-center">
    <h1>Sender - our blog</h1>
    <div class="container">
        <div class="row">
            {% for object in object_list %}
            <div class="col-3">
                <div class="card shadow-sm">
                    <div class="text-center">
                        <img src="/media/{{ object.preview }}" class="rounded" alt="preview" width="100%" height="100">
                    </div>
                    <p class="text-center fw-bold">
                        {{ object.title | title }}
                    </p>
                    <div class="card-body">
                        <p class="text-center">{{ object.content | truncatechars:100}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{% url 'blog:blog_view' object.pk %}" type="button"
                               class="btn btn-outline-light">View</a>
                        </div>
                        <p class="text-end"></p>
                        <p class="text-end">{{ object.date_publicised }}</p>
                        <p class="text-end">{{ object.view_count }} views</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endblock %}