{% extends 'sender/base.html' %}
{% block content %}

<div class="col">
    <a href="{% url 'blog:blog_list' %}" type="button"
       class="btn btn-outline-light">Back to list</a>
    <div class="card shadow-sm">
        <div class="text-center">
            <img src="/media/{{ object.preview }}" width="500" height="250" class="rounded" alt="Card image cap">
        </div>
        <p class="text-center fw-bold">
            {{ object.title | title }}
        </p>
        <div class="card-body">
            <p class="text-center">{{ object.content }}</p>
            <p class="text-end"></p>
            <p class="text-end">{{ object.date_publicised }}</p>
            <p class="text-end">{{ object.view_count }} views</p>
        </div>
    </div>
</div>
{% endblock %}